# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Unit and integration tests

on:
  push:
    branches: [ dev, master ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      mongo:
        image: mongo:4.4
        ports:
          - 27017:27017

    steps:
      # Check out the repository
      - uses: actions/checkout@v2
      # Install Node.js
      - uses: actions/setup-node@v2
        with:
          node-version: 16.18.0
      - run: npm ci
      - run: npm run build --if-present
      - run: npm test
        env:
          TOKEN_SECRET: ${{ secrets.TOKEN_SECRET }}
